@page "/books"

@inject IBookService BookService
@inject ILibraryService<BookModel> LibraryService
@inject NavigationManager NavigationManager
<h3>Books</h3>
@if (_books == null)
{
    <p><em>Loading ....</em></p>
}
else
{
    <button class="btn btn-primary" @onclick="AddBook">Add Book</button>
    @foreach (var book in _books)
    {
        if (book == null)
        {
            continue;
        }
        <div>
            <h4>@book.Title</h4>
            @foreach (var author in book.Authors)
            {
                <p>@author.LastName, @author.LastName </p><br />
            }
            <button class="btn btn-primary" @onclick="() => EditBook(book)">Edit</button>
            <button class="btn btn-danger" @onclick="() => DeleteBook(book)">Delete</button>
        </div>
    }
}

@code {
    private ObservableCollection<BookModel?>? _books;

    protected override async Task OnInitializedAsync()
    {
        _books = new ObservableCollection<BookModel?>(await LibraryService.GetAllAsync() ?? null!);
    }

    private void AddBook()
    {
        NavigationManager.NavigateTo("/books/add");
    }

    private void EditBook(BookModel book)
    {
        NavigationManager.NavigateTo($"/books/edit/{book.Id}");
    }

    private async Task DeleteBook(BookModel book)
    {
        await LibraryService.DeleteAsync(book.Id);
        _books.Remove(book);
    }
}